<template>
<div>

    <h1 class="text-center mt-5">Accueil</h1>
    <h2>Listes</h2>
    <p v-for="(liste, index) in this.donnees" :key="index">
        <router-link :to="{ path: 'liste', query: { id: index }}">
            {{liste.nom}}
        </router-link>
    </p>

</div>

</template>

<script>
export default {
  name: 'accueil',
  data: function () {
    const listes = localStorage.getItem('listes')
    const donnees = JSON.parse(listes)
    return {
      donnees: donnees
    }
  }
}
</script>

<style>
@import'../../public/stylesheets/base.css';
@import'../../public/stylesheets/layout.css';

</style>
